*.tar
*.zip
*.txt
    # игнорировать всюдиректорию input и всё ее содержимое,
    # но сделать исключение и учитывать файл input/.gitkeep 
    # что помогает коммитить пустой каталог input
input/
!/input/.gitkeep
archive/
!/archive/.gitkeep
